HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


// application.properties files
course_3/course_3/src/main/resources/application.properties
course_4/src/main/resources/application.properties
course_4_project/src/main/resources/application.properties
course_4_project_2/src/main/resources/application.properties
course_5/src/main/resources/application.properties


// intelij idea
.idea
*.iws
*.iml
*.ipr

// vscode
.vscode/