<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <style>
        .logout-button {
            width: 60px;
            height: 20px;
        }
    </style>

</head>
<body>

    <h3>
        Welcome. Welcome to City 17.
    </h3>

    <hr>

    <p>
        User: <span sec:authentication="principal.username"></span>
    </p>

    <hr>

    <p>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <hr>

    <p>
        <a th:href="@{/leaders}">Leadership Meeting </a> (only for managers)
    </p>

    <hr>

    <p>
        <a th:href="@{/systems}">IT Systems Meeting </a> (only for admins)
    </p>

    <hr>

    <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit" value="Logout" class="logout-button">Logout</button>
    </form>
</body>
</html>